// Import your layouts CSS files here.
// Examples:
// @import "dashboard";
// @import "profile";
// @import "map";
.container {
  width: 80%;
}

.wrapper {
  background-color: #e6ffe6;
  height: 100vh;

}
