// Import your layouts CSS files here.
// Examples:
// @import "dashboard";
// @import "profile";
// @import "map";
.container {
  width: 80%;
}

.wrapper {
  background-color: #f9f9f99f;
  height: 100vh;
}

