<h1>Items#index</h1>
<p>Find me in app/views/items/index.html.erb</p>


<% @categories.each do |category| %>
<%= link_to category, root_path(query: category) %>
<% end %>

<% unless params[:query].nil? %>
  <% @items.each do |item| %>
  <ul>
    <li>Description = <%= item.description %></li>
  </ul>
  <% end %>
<% end %>
