
<p>Overview of the item</p>


<p>
  <ul>
    <li>category: <%= @item.category %></li>
    <li>description: <%= @item.description %></li>
    <li>address: <%= @item.address %></li>
  </ul>
  <br>
  <br>
  <%= link_to "book this item", new_item_booking_path(@item)  %>
</p>


