.category-card {
  width: 200px;
  height: 200px;

  background: white;
  box-shadow: 3px 3px 8px 1px #888888
}


.category-img {
  height: 200px;

}

.category-link {
  font-size: 24px;
  font-weight: light;
  color: #323332;
  &:hover {
    text-decoration: none;
    color: #EA5E22;
  }
}

.card-inside {
  display: flex;
  align-items: center;
}
